@charset "utf-8";

/* footer------------- */

 #footer{
position:fixed;
display:block;
width: 100%;
text-align:center;
color: #f2f2f2;
z-index:6000;
}

#footer{
background-color:#fff;
height: 54px;
bottom:0px;
}

#footerContents {
width:900px;
margin:0 auto;
}

#footerContentsBottom {
clear:both;
overflow:hidden;
}
#logo {
float:left;
}
#fmenu {
float:right;
}

#fmenu li {
display:inline-block;
margin-left:30px;
}


/* Common styles
* --------------------------------------- */
img{
-webkit-transition: all 0.7s ease-out;
-moz-transition: all 0.7s ease-out;
-o-transition: all 0.7s ease-out;
transition: all 0.7s ease-out;
}

.wrap{
width: 1180px;
height: 100%;
margin-left: auto;
margin-right: auto;
position: relative;
}

.box{
text-align: left;
color: #808080;
font-size: 1.2em;
line-height: 1.6em;
}

#section{
padding: 60px 0;
}

#section img{
margin: 40px 0 0 0;
}

.section{
text-align:center;
overflow:hidden;
}

#section0 {background:url(../../images/bg1.jpg);}
#section1 {background:url(../../images/bg2.jpg);}
#section2 {background:url(../../images/bg3.jpg);}
#section3 {background:url(../../images/bg4.jpg);}
#section4 {background:url(../../images/bg5.jpg);}
#section5 {background:url(../../images/bg6.jpg);}

#section0,#section1,#section2,
#section3,#section4,#section5 {
background-size: cover;
}

.sectionContents {
display:table;
height:100%;
text-align: center;
margin: 0 auto;
}

.sectionContents .messege {
vertical-align: middle;
display: table-cell;
}

.sectionContents h1 {
position:relative;
width:336px;
height:221px;
}

.sectionContents h1 img {
position:absolute;
top:0;
left:0;
}

.section .enter {
opacity:0;
}


/*#nextBtn {
background:url(../../images/btn_next.png) no-repeat top center;
display:block;
height:25px;
}*/


/* loader
* --------------------------------------- */
#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    z-index: 50000;
}
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    color: #fff;
    z-index: 55000;
}

#loader img {
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation: spin 1.5s linear infinite;
    -ms-animation: spin 1.5s linear infinite;
    -o-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#loader img.loadEnd {
-webkit-transform: scale(100,100);
-moz-transform: scale(100,100);
-o-transform: scale(100,100);
-ms-transform: scale(100,100);
transform: scale(100,100);
-webkit-transition: all 1s linear;
-moz-transition: all 1s linear;
-o-transition: all 1s linear;
-ms-transition: all 1s linear;
transition: all 1s linear;
}

#visualSlide {
position:relative;
display:none;
width:100%;
background:#000;
z-index:7000;
}

#visualSlide ul{
position:relative;
display:none;
width:1000px;
margin:0 auto;
z-index:7500;
top:-3972px;
}


/* Section 1
* --------------------------------------- */

/*screen resolutions between 620px and 800px*/
@media all and (min-width: 620px) and (max-width: 800px){
#section1 .imagesContainer{
margin-top: -278px;
margin-left: -685px;
width: 647px;
height: 563px;
}
}

/*screen resolutions lower than 620px*/
@media all and (max-width: 620px){

}


/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.fp-tooltip{
color: #AAA;
}
#fp-nav span, .fp-slidesNav span{
border-color: #AAA;
}
#fp-nav li .active span, .fp-slidesNav .active span{
background: #AAA;
}
